#prawo {
    right: 0px;
    width:70%;
    height:100%;
    background-color:black;
    position:fixed;
}
#lewo {
    left: 1;
    width: 30%;
    height:100%;
    background-color:blue;
    position: fixed;
}
#gora {
    height:30%;
    background-color: lightblue;
    width:100%;
}
#dol {
    left:0;
    height: 70%;
    bottom: 0px;
    width: 100%;
    background-color: lightgoldenrodyellow;
}
.button {
    background-color: #008CBA;
    border: 2px solid lightblue;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    width:100%;
  }
  .button:hover {
      background-color: white;
      color: black;
  }